body {
    background-color: silver;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px gray;
    padding: 10px;
}

header {
    background-color: slategray;
    text-align: center;
    color: white;
    text-shadow: 0 0 2px black;
    font-size: 200%;
    line-height: 100px;
}

main {
    padding: 10px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    font-size: 80%;
    padding: 10px;
}

aside {
    background-color: #efefef;
}

textarea {
    height: 400px !important;
    overflow: hidden;
    overflow-y: scroll;
}

.userList {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.userList li {
    padding: 10px;
    border-bottom: 1px dotted black;
}

.userList li:first-child {
    border-top: 1px dotted black;
}
.chat-message{
    height: 200px;
    background-color: beige;
    border: 2px solid slategray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    font: 1em sans-serif;
    
}