<footer>
    <%= app.company %> -
        <%= app.author %>
</footer>
</div>
<script src="../assets/js/angular.min.js"></script>
<script src="../assets/js/bootstrap.min.js"></script>
<script src="../assets/js/app.js"></script>

</body>

</html>