<h3>LOGIN</h3>
<form action="/users/login" method="post">
    <div class="mb-3">
      <label for="usermail" class="form-label">Email address</label>
      <input type="email" class="form-control" name="usermail" aria-describedby="emailHelp">
      
    </div>
    <div class="mb-3">
      <label for="userpass" class="form-label">Password</label>
      <input type="password" class="form-control" name="userpass">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberme">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">LOGIN</button>
    <a href="" class="btn btn-secondary">REG</a>
  </form>