<ul class="menu">
    <li><a href="#">New stepdata</a></li>
    <li><a href="#">Table view</a></li>
    <li><a href="#">Chart view</a></li>
    <li><a href="#">Calendar view</a></li>
    <li><a href="#">Password change</a></li>
    <li><a href="#">LOG OUT</a></li>
</ul>