<%- include('header') %>
        <main>
                
                
                <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                
                <select class="form-select" size="3" aria-label="size 3 select example">
                        <option selected>Open this select menu</option>
                        <option value="1">Frontend</option>
                        <option value="2">Backend</option>
                        <option value="3">Fullstack</option>
                      </select>
        </main>
    

        <%- include('footer') %>