<%- include('header')  %> 
            <h3>LOGIN</h3>
            <form method="post" action="">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="passwd" class="form-label">Password</label>
                  <input type="password" class="form-control" id="passwd">
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Elfogadom hogy hulye vagyok</label>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a class="btn btn-primary" href="/reg">REG</a>
              </form>
<%- include('footer');  %>     